body {
	font-family: arial, verdana;
	font-size: 14px;
}

h1 {
	margin: 0 0 10px 0;
}

section {
	display: inline-block;
	vertical-align: text-top;
}

.box {
	border: solid 1px #4293C9;
	border-radius: 4px;
	margin: 10px;
	width: 400px;
	padding: 10px;
	background: #f8f8ff;
	box-shadow: inset 1px 2px 3px #c8c8cf;
}

.peer {
	position: relative;
	margin: 0 0 7px 0;
}

.peer button {
	position: absolute;
	right: 10px;
}

.video-container {
	display: inline-block;
	width: 220px;
	height: 170px;
}

video {
	width: 200px;
	height: 150px;
	margin: 10px;
}
