@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

body {
	font-family: 'Open Sans', helvetica, arial;
	font-size: 14px;
	margin: 0;
}




/* STYLE COLORS */


/*Login Window Colors*/

	#login {
		background-color: #fff;
	}
	#login #username {
		background-color: #EBEBEB;
	}
	#login #login-btn {
		background-color: #81b75c;
	    color: #fff;
	}

/*User List Vertical Panel*/

	.vertical-bar {
		background-color: #F5F5F5;
	}
	/*Username, Logout and Call Buttons view*/
	#userInfo {
		background-color: #fff;
	}

/*P2P Video Call View - Remote username*/

	#remote-username {
		color: #FFF;
	}
	/*Hangup Button*/
	#remote-username img {
		background-color: #B24556;
	}

/*P2P video exapand and chat buttons*/

	.rounded-btn {
		background-color: #797979;
	}

	#video-menu #chat-btn {
		background-color: #81b75c;
	}

/*Vertical and Video pane hide button*/

	.hide-btn {
	    background-color: #fff;
	}
	.hide-btn:hover {
	    background-color: #dcffc7;
	}

	#userInfo #hideColumn {
		border-right-color: #fff;
	}

	.major-box #showColumn {
		border-left-color: #000;
	}

/*Peer list item*/

	.peer:hover {
		background-color: #EBEBEB;
	}

	.peer.selected, 
	.peer.selected:hover {
		background-color: #DFF4D5;
	}

/*Chat Messages types*/

	.chat-msg {
		background-color: #EBEBEB;
	}
	.chat-msg.msg-peer {
		background-color: #EBEBEB;
	}
	.chat-msg.msg-user {
		background-color: #6C6C6C;
		color: #FFF;
	}
	.chat-msg.msg-info {
		background-color: #BAECA2;
	}
	.chat-msg.msg-alert {
		background-color: #F7AEB0;
	}

/*Chat send field*/

	#sendMessage {
		border-top-color: #B6B6B6;
	}

	#sendMessage #submit-btn {
	    background-color: #B6B6B6;
	}


.cover {
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);

	position: absolute;
}

#login {
	position: relative;
	left: 50%;
	top: 50%;
	width: 240px;
	height: 200px;
	margin-left: -135px;
	margin-top: -155px;
	padding: 30px;
	/*background-color: #fff;*/
	box-shadow: 0px 0px 2px black;
	text-align: center;
	border-radius: 6px;
	overflow: hidden;
}

#login #heading {
	font-size: 30px;
	font-weight: 100;
	margin-bottom: 30px;
	margin-top: 10px;
}

#login #username {
	/*background-color: #EBEBEB;*/
	outline: none;
	width: 100%;
	height: 40px;
	border: none;
	padding: 15px;
	text-align: center;
    font-size: 13px;
    font-family: inherit;
}

#login #login-btn {
	display: block;
    width: 100%;
    height: 55px;
    bottom: 0;
    left: 0;
    position: absolute;
    font-weight: 600;
    font-size: 12px;
    /*background-color: #81b75c;
    color: #fff;*/
    border: none;
    outline: none;
    letter-spacing: 1px;
	cursor: pointer; 
	cursor: hand;
}

.sign-out {
	background-image: url('../images/sign-out.png');
	background-repeat: no-repeat;
}

.sign-out-grn {
	background-image: url('../images/sign-out-grn.png');
	background-repeat: no-repeat;
}

.user-icon-img {
	width: 17px;
	height: 17px;
	background-image: url('../images/user-icon-sm.png');
	background-repeat: no-repeat;
}

.user-icon-img-grn {
	width: 17px;
	height: 17px;
	background-image: url('../images/user-icon-sm-grn.png');
	background-repeat: no-repeat;
}

.start-call {
	background-image: url('../images/start-call.png');
	background-repeat: no-repeat;
}

.start-call-grn {
	background-image: url('../images/start-call-grn.png');
	background-repeat: no-repeat;
}

.end-call {
	background-image: url('../images/end-call.png');
	background-repeat: no-repeat;
}

.end-call-grn {
	background-image: url('../images/end-call-grn.png');
	background-repeat: no-repeat;
}

.end-call-wt {
	background-image: url('../images/end-call-wt.png');
	background-repeat: no-repeat;
}

.remote-fs-selected {
	background-color: #81b75c;
	background-repeat: no-repeat;
}

.remote-fs-unselected {
	background-color: #797979;
	background-repeat: no-repeat;
}

.expand {
	background-image: url('../images/expand.png');
	background-repeat: no-repeat;
}

.chat-on {
	background-image: url('../images/chat-on.png');
	background-repeat: no-repeat;
}

.brand-logo {
	background-image: url('../images/brand-logo.png');
	background-repeat: no-repeat;
}

section.vertical-bar {
	width: 270px;
	height: 100%;
	overflow-y: auto;
	padding: 0;
}

section.horizontal-bar {
	overflow-y: auto;
	height: 35%;
	position: relative;
	display: -webkit-flex;
	display: flex;
}

section.major-box {
	padding: 0;
	background: #515151;
	display: -webkit-flex;
	display: flex;
	position: relative;
	height: 65%;
	overflow: hidden;
	width: 100%;
}

section.minor-box {
	height: 150px;
	background: none;

	position: absolute;
	right: 30px;
	bottom: 30px;
}

section.minor-box.box-standby {
	left: 0;
    top: 0;
    height: 135px;
}

	section.major-box video {
		flex-grow: 1;
	}

	section.minor-box video {
		height: 100%;
	}
	

.major-box #co-logo {
	position: absolute;
	right: 18px;
	top: 8px;
}

#xsdk-video-call {
	display: -webkit-flex;
	display: flex;
	height: 100%;
}

#right-pane {
	position: relative;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.fb-col-item {
	flex-grow: 1;
}
	/*NOT IN A VIDEO CHAT*/
	section.major-box.hide-vid {
		height: 135px;
		flex-grow: 0;
	}

.title-text {
	font-size: 1.7em;
	font-weight: 400;
}

#userInfo {
	/*background-color: #fff;*/
	display: inline-block;
    width: 100%;
    height: 135px;
    position: relative;
}

#username-label {
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	max-width: 175px;
    overflow: hidden;
}

#remote-username {
	position: absolute;
	left: 20px;
	bottom: 10px;
	display: -webkit-flex;
	display: flex;
	/*color: #FFF;*/
	/*Hidden initially - Shown when in vid chat*/
	visibility: hidden;
}

	#remote-username img {
		height: 35px;
		/*background-color: #B24556;*/
		margin-right: 10px;
		padding: 5px;
	}

.rounded-btn {
	border-radius: 50px;
	align-self: center;
	cursor: pointer; 
	cursor: hand;
	/*background-color: #797979;*/
}

#video-menu {
	position: absolute;
	display: flex;
	bottom: 30px;
	right: 45%;
	/*Hidden initially - Shown when in vid chat*/
	visibility: hidden;
}

	#video-menu .rounded-btn {
		width: 45px;
		height: 45px;
	}

	#video-menu img {
		padding: 10px;
	}

	#video-menu #chat-btn img {
		padding-left: 12px;
	}

	#video-menu #remote-full-screen {
		margin-right: 5px;
	}

.box {
	width: 100%;
	white-space: nowrap;
}

.menu-icon-btns#log-out {
	background-image: url('../images/sign-out.png');
	margin-left: 20px;
}

.menu-icon-btns#call-peer {
	background-image: url('../images/start-call.png');
	margin-left: 10px;
	margin-right: 10px;
}

.menu-icon-btns#hang-up {
	background-image: url('../images/end-call.png');
	background-position-y: -5px;
}

.menu-icon-btns {
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	padding-top: 35px;
	width: 50px;
	height: 15px;
	font-size: 10px;
	cursor: pointer; 
	cursor: hand;
	display: inline-block;
}

.hide-btn {
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
    border: solid #B6B6B6 1px;
    /*background-color: #fff;*/
    background-size: 12px;
	width: 14px;
    height: 30px;
	cursor: pointer; 
	cursor: hand;
}

#userInfo #hideColumn {
	background-image: url('../images/arrow_hide.png');
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right-width: 0;
    /*border-right-color: #fff;*/
    top: 10px;
    right: 0;
}

.major-box #showColumn {
	background-image: url('../images/arrow_show.png');
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 0;
    /*border-left-color: #000;*/
    top: 10px;
    left: 0;
    display: none;
}

#peers {
	margin-top: 10px;
	width: 100%;
	overflow: hidden;
}

	#peers h2, #peers button {
		float: left;
		margin-right: 10px;
	}

.peer {
	clear: left;
	padding: 14px 20px;
	pointer-events: fill;
	overflow: hidden;
	display: flex;
}


.peer-icon {
	margin-right: 15px;
	pointer-events: none;
}

.peer-label {
	pointer-events: none;
}

#lVideo .video-container {
	display: inline-block;
	width: 220px;
	height: 170px;
}

#rVideo .video-container {
	display: inline-block;
	width: 420px;
	height: 320px;
}

#lVideo video {
	width: 200px;
	height: 150px;
}

#rVideo video {
	width: 400px;
	height: 300px;
}

.hidden {
	display: none;
}

#messages {
	padding: 20px;
	width: 100%;
	margin-bottom: 55px;
	overflow-y: auto;
}

	.chat-msg.msg-user {
		border-radius: 10px;
		border-top-right-radius: 0;
		margin-left: 28%;
	}

	.chat-msg {
		padding: 10px;
		border-radius: 10px;
		border-top-left-radius: 0;
		width: 70%;
		margin-bottom: 20px;
	}

		.chat-msg .msg-header {
			font-size: 11px;
			margin-bottom: 10px;
		}

			.chat-msg .msg-header .msg-time {
				float: right;
			}

#sendMessage {
	bottom: 0;
	left: 0;
	position: absolute;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 55px;
	margin: 0;
	border-top-color: #B6B6B6;
	border-top-style: solid;
	border-top-width: 1px;
}

#sendMessage #message {
	width: 100%;
	padding: 15px;
	font-size: 13px;
	font-family: inherit;
	border: none;
	outline: none;
}

#sendMessage #submit-btn {
	background-image: url('../images/chat-on.png');
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer; 
	cursor: hand;
	border: none;
    width: 65px;
}
