div#xsdk-video-call {
	font-size: 14px;
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", "Ubuntu", sans-serif;
}

h1 {
	font-size: 18px;
	margin: 0 0 10px 0;
}

h2 {
	font-size: 16px;
	margin: 0 0 10px 0;
}

section {
	position: absolute;
	box-sizing: border-box;
	vertical-align: text-top;
	border: 0;
	padding: 10px;
	color: WindowText;
	background: Window;
	box-shadow: inset 0px 0px 2px ThreeDShadow;
	text-shadow: 1px 1px 1px white;
}

section.cover {
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

	section.cover form {
		position: relative;
		left: 50%;
		top: 50%;
		width: 200px;
		height: 100px;
		margin-left: -110px;
		margin-top: -60px;
		padding: 10px;
		background: Window;
		box-shadow: 0px 0px 2px black;
	}

section.vertical-bar {
	left: 0%;
	top: 0%;
	width: 35%;
	min-width: 150px;
	height: 100%;
	overflow-y: auto;
}

section.horizontal-bar {
	right: 0%;
	bottom: 0%;
	width: 65%;
	height: 35%;
	min-height: 100px;
	overflow-y: auto;
}

section.major-box {
	left: 35%;
	top: 0%;
	width: 65%;
	height: 65%;
	background: rgb(100,100,100);
}

	section.major-box h2 {
		font-size: 20px;
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		text-shadow: 1px 1px 2px black;
	}

section.minor-box {
	right: 0%;
	bottom: 35%;
	height: 150px;
	width: 270px;
	background: rgb(100,100,100);
}

	section.minor-box h2 {
		font-size: 12px;
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		text-shadow: 1px 1px 1px black;
	}
	
	section.major-box video, section.minor-box video {
		height: 100%;
	}
	
	#remote-full-screen, #local-full-screen {
		position: absolute;
		left: 10px;
		bottom: 10px;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
	
		#remote-full-screen:hover, #local-full-screen:hover {
			left: 9px;
			bottom: 9px;
			width: 22px;
			height: 22px;
		}

button {
	background: ButtonFace;
	min-width: 80px;
}

#peers {
	margin-top: 20px;
}

	#peers h2, #peers button {
		float: left;
		margin-right: 10px;
	}

	.peer {
		clear: left;
	}

.hidden {
	display: none;
}
