<!DOCTYPE>
<html>
<head>

	<title>Model Test</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"></link>
	<script src="../lib/xirsys.core.js"></script>
	<script src="../lib/xirsys.databind.js"></script>
	<script src="../lib/xirsys.view.js"></script>
	<script src="../lib/xirsys.model.js"></script>

	<script type="text/html" id="list_tmpl">
		<select data-bind-bob="name">
			<% for (var i=0; i<l.length; i++) { %>
				<option<% if (d == l[i]) { %> selected<% } %>><%= l[i] %></option>
			<% } %>
		</select>
	</script>
</head>
<body>
	<input type="text" data-bind-bob="name" />
	<input type="text" data-bind-bob="name" />
	<span id="output"></span>
</body>
<script>

	var model = new $xirsys.model("bob", function($value) {
		console.log($value);
	});
	model.set("name", "Fred");

	var view = new $xirsys.view();
	
	var b = view.render("list_tmpl", {l: ["Ted", "Fred", "Jim"], d: model.get("name")});
	document.getElementById("output").innerHTML = b;

</script>
</html>